<!DOCTYPE html>
<html>
<head>
    <title>Account created</title>
    <style>
        /* Your CSS styles here */
        body {
            font-family: Arial, sans-serif;
            background-color: #f0f0f0;
            text-align: center;
        }
        h1 {
            color: #008000; /* Green color for success message */
        }
        p {
            font-size: 18px;
        }
    </style>
</head>
<body>
    <h1>You have Successfully created an account with Student Meet</h1>
    <p>Thank you for creating an account with, you can now access all the courses and quizzes for free</p>

    <!-- Link to the home page -->
    <a href="index">Go back to home</a>
</body>
</html>